<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link></link>
    <title>Сводные данные</title>
</head>
<body>
    <h1>Сводные данные</h1>
    <a href="/rawdata">Журнал выставления баллов</a>
    <table border="1">
        {% if DataProc %}
            {% for row in DataProc %}
                <tr>
                    {% for cell in row %}
                        <td align="center">{{ cell or '' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="100%">Нет данных для отображения</td></tr>
        {% endif %}
    </table>
    <br>
    <a href="/download/1"><button>Скачать файл DataProc.xlsx</button></a>
    <br><br>
    <a href="/rawdata">Журнал выставления баллов</a>
</body>
</html>
