<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сводные данные</title>
    <style>
        /* Стили для заголовков */
        .header-row {
            font-weight: bold;
            background-color: #e0e0e0;
            text-align: center;
        }
        td {
            text-align: center;
        }
        /* Выделение каждой второй строки */
        tr:nth-child(even) {
            background-color: #bed0e4;
        }
        /* Полужирный текст для первого столбца */
        .first-column {
            font-weight: bold;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Сводные данные</h1>
    <a href="/rawdata">Журнал выставления баллов</a>
    <table border="1">
        {% if DataProc %}
            {% for row in DataProc %}
                <tr class="{% if loop.first %}header-row{% endif %}">
                    {% for cell in row %}
                        <td class="{% if loop.index0 == 0 %}first-column{% endif %}">{{ cell or '' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="100%">Нет данных для отображения</td></tr>
        {% endif %}
    </table>
    <br>
    <a href="/download/1"><button>Скачать файл DataProc.xlsx</button></a>
</body>
</html>
